*{
    font-family: Raleway, sans-serif;
    position: relative;
}
.container{
    width: 90%;
    min-height: 100vh;
    padding: 5%;
    background-image:linear-gradient(rgba(255, 255, 255, 0.60),rgba(255, 255, 255, 0.60)),url(img/joanna-kosinska-9gfGDbxuqrU-unsplash.jpg);
    background-position: center;
    background-size:cover;
}
.Nikkycontainer{
    width: 90%;
    min-height: 100vh;
    padding: 5%;
    background-image:linear-gradient(rgba(255, 255, 255, 0.60),rgba(255, 255, 255, 0.60)),url(img/joanna-kosinska-9gfGDbxuqrU-unsplash.jpg);
    background-position:center;
    background-size:cover;
    margin-top: auto;
}
img{
    width: 240px;
    border-radius: 120px;
}
.Nikkycontainer .paraG{
    line-height: 7mm;
    width: 500px;
}
.vintro{
    width: 90%;
    min-height: 100vh;
    padding: 5%;
    background-image:linear-gradient(rgba(255, 255, 255, 0.60),rgba(255, 255, 255, 0.60)),url(img/joanna-kosinska-9gfGDbxuqrU-unsplash.jpg);
    background-position:center;
    background-size:cover;
    margin-top: auto;
}